<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="cn.ihealthbaby.weitaixinpro"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS"></uses-permission>

    <application
        android:name=".WeiTaiXinProApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="微胎心pro"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="186eecb69205ccf2221f14d07ad751a0"/>

        <activity android:name=".ui.login.BindActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.settings.MonitorSetActivity"/>
        <activity android:name=".ui.monitor.MonitorCommonSense"/>
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.monitor.MonitorActivity"/>
        <activity android:name=".ui.monitor.MonitorDetialActivity"/>
        <activity android:name=".ui.monitor.GuardianStateActivity"/>
        <activity android:name=".ui.monitor.LocalRecordPlayActivity"/>

        <service android:name=".service.ConfigService"/>
        <service android:name=".service.UploadService"/>
    </application>

</manifest>
